
// small screens
// toolbar================================================
.preloader {
    position: absolute;
    height: 100%;
    top:0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: white;
    padding-top: 40%;
    font-size: 30px;
    color: #33d1ec;
    text-shadow: 1px 1px 5px grey;
}

.preloader > img {
    position: absolute;
    display:block;
    margin: 10% auto 40%;
    height: 200px;
    width: 100%;
}
.toolbar {
    background: linear-gradient(270deg, rgba(15,150,153,1) 3%, rgba(25,183,171,1) 100%);
    position: relative;
    top: 0px;
    height: 60px !important;
    box-shadow: 0px 1px 10px -5px grey;
}

ion-title {
    --color: white;
    padding: 20px;
}


.logo {
    position: absolute;
    height: 55px;
    width: 75px;
    top: 3px;
}

.settings {
    position: absolute;
    zoom: 4;
    color: white;
    top: 0px;
    right: 2px;
    display: none;
}

ion-icon.settings:hover {
    opacity: 0.5;
}

// body

.container1-profile {
   
    min-height: 100%;
    width: 100%;

    padding: 5px 20px auto;
    background:     linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(194, 194, 194) 100%);

}

// header

.container2-profile {
    height: 70px;
    width: 300px;
    background: url("../../assets/portfolio-header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px grey;
    margin: 20px auto auto;
    border-radius: 5px;
    position: relative;
}

.container2-profile > ion-avatar {
    height: 60px;
    width: 60px;
   
    margin: 5px auto 5px 6px;
    display: block;
    position: absolute;
}

.header-text {
    position: absolute;
    font-size: 20px;
    text-align: right;
    top: 15px;
    right: 15%;
    color: #016364;
    line-height: 20px;
}

.last-name {
    font-weight: 700;
}

.portfolio-name {
    font-size: 12px;
    font-style: italic;
}

.description {
    font-size: 11px;
}
.edit {
 text-align: center;
 font-size: 13px;

 right: -40px;
 top: -90px;
 --background:white;
 color: rgba(25,183,171,1);
 
}

// posts
.container3-profile {
    
    width: 100%;
    margin: 40px auto auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;

}

.post-img {
   height: 90px !important;
   width: 90px;
   margin: 2px;
   background-size: contain;
   background-repeat: no-repeat;
   
}

.post-img-add {
    height: 90px;
    width: 90px;
    border: 3px dotted #009092;
    color: #009092;
    
}

.post-img-add > ion-icon {
    zoom: 4;
    margin: 2px auto;
    display: block;
    position: relative;
}

.post-img-add:hover {
    border: 3px dotted #016364;
    color: #016364;
}

@media only screen and (orientation: portrait) {
  .hov{
    position: absolute;
    left: 70px !important;
    top: 18px;
    color: white;
    font-size: 30px;
}
.edit{
    position: absolute;
}
}

// large screens =========================================
@media only screen and (orientation: landscape) {
              .preloader {

    padding-top: 10%;
  
}

.preloader > img {
    
    margin: 5% auto auto;
    height: 400px;
   
}
  
    //toolbar 
.toolbar {
    height: 20px !important;
}

ion-title {
    font-size: 10px !important;
    padding: 5px;
}


.logo {
    
    height: 18px;
    width: 25px;
    top: 1px;
}

.settings {
    display: block;
    zoom: 1;
    
    top: 3px;
    right: 20px;
}

.container1-profile{
    zoom: 400%;
}
// header

.container2-profile {
    height: 40px;
    width: 170px;
    position: relative;
    box-shadow: 0px 0px 10px grey;
    margin: 10px auto auto;
    border-radius: 5px;
}

.container2-profile > ion-avatar {
    height: 30px;
    width: 30px;
   
    margin: 5px auto 5px 5px;
    display: block;
    position: absolute;
}

.header-text {
    position: absolute;
    font-size: 10px;
    text-align: right;
    top: 5px;
    right: 30%;
    color: #016364;
    line-height: 6px;
}

.last-name {
    font-weight: 700;
}

.portfolio-name {
    font-size: 5px;
    font-style: italic;
}

.description {
    font-size: 4px;
}
.edit {
 text-align: center;
 font-size: 4px;
 height: 10px;
 top: 0;
 left: 0;
 right: auto;
 
}
// posts
.container3-profile {
    
    
    margin: 10px auto auto ;

}
.post-img {
   height: 40px !important;
   width: 40px;


}

.post-img-add {
    height: 35px;
    width: 40px;

}

.post-img-add > ion-icon {
    zoom: 1.5;

}

.hov{
    position: absolute;
    left: 30px;
    top: 3px;
    color: white;
    font-size: 16px;
}




}


.hide {
    display: none !important;
}


span.hov:hover{
    opacity: 0.5;
}

