<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="feed">
      <!-- feed connects each page to tab-->
      <ion-icon name="home"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile/{{username}}">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="card"></ion-icon>
      <ion-label>settings</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>