// small screens
.preloader {
    position: absolute;
    height: 100%;
    top:0px;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: white;
    padding-top: 40%;
    font-size: 30px;
    color: #33d1ec;
    text-shadow: 1px 1px 5px grey;
}

.preloader > img {
    position: absolute;
    display:block;
    margin: 10% auto 40%;
    height: 200px;
    width: 100%;
}

.home-container1 {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  
  color: #00272e;

  
}

.about-text{
    margin-left: 20px;
    margin-top: 0px;
    width: 50%;
    text-align: left;
    color: rgb(182, 182, 182);
    
    font-size: 15px;
}
.about-text > span{
color: rgb(0, 127, 211);
}

span.log:hover{
    color: rgb(0, 87, 145);
}

.mini-app{
  color: rgb(255, 0, 76) !important;
}
a.mini-app:hover{
  color: rgb(255, 102, 0) !important;
}

  .home-toolbar{
    position: relative;
    top: 0px;
    height: 50px;
    background: white;
    text-align: center;
    padding-top: 15px;
    color: rgb(0, 174, 255);
    text-shadow: 0px 0px 5px rgb(0, 127, 211);
    letter-spacing: 8px;
  }

  .about-img{
      position: absolute;
      bottom: 0px;
      width: 50%;
  }

  .logo-about{
      position: absolute;
      float: right;
      height: 200px;
      width: 300px;
      top: 10px;
  }

@media only screen and (orientation: landscape) {

      .preloader {

    padding-top: 10%;
  
}

.preloader > img {
    
    margin: 5% auto auto;
    height: 400px;
   
}

  .about-img{
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0%;
      
  }

  .home-container1{
      position: relative;
      display: block;
      margin-left: 25%;
      width: 50%;
      background: white;
      padding-left: 0;
      box-shadow: 0px 0px 20px white;
      
  }
  .home-container2{
      height: 100%;
      width: 100%;
  background: linear-gradient(180deg, rgba(0,135,209,1) 0%, rgba(89,161,235,1) 78%);
  }
}


@media only screen and (orientation: portrait) {

    .home-container2{
        height: 100%;
    }
      .home-container1{
      position: relative;
      height: 100%;
      width: 100%;
  }

  .logo-about{
      position: absolute;
      top: 60px;
      right: -95px;
  }

      .about-img{
      position: absolute;
      bottom: 0px;
      width: 100%;
      left: 0%;
      
  }
}

