


// small screen
// @media only screen and (orientation: portrait) {
   
   .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
    max-height: 100%;
    min-width: 100%;
    position: fixed;
     

    
}

    .login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: -79px auto -79px;
    padding: auto 0;
    min-width: 70%;
    min-height: 75vh;
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    color: #07a5a0;
    font-size: 100%;
    text-align: center;
    
    
}

.title {
    
    font-size: 150% !important;
}


.login-container2 {
    line-height: 10px;
}

.text1 {
    font-size: 50%;
    text-decoration: underline;
    
}


img {
    
    width: 40px;
    transform: rotate(90deg) scale(1);
    display: block;
    margin: auto ;
}

.img2 {
    transform: rotate(270deg) scale(1);
  
}


input {
  font-size: 70%;
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(187, 187, 187);
  margin: 25px auto 10px;
}
input:focus {
  border-color: #07a5a0;
}

.error {
  color: red;
  position: relative;
  top: 15px;
}

    // }


    // wide screen
@media only screen and (orientation: landscape) {
   
   .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
    max-height: 100%;
    min-width: 100%;
     position: relative;

    
}

    .login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 10px -16px auto 50px;
    padding: 10px 0;
    min-width: 50%;
    min-height: 70vh;
    box-shadow: 0px 0px 10px grey;
    border-radius: 10px;
    color: #07a5a0;
    font-size: 100%;
    text-align: center;
    position: relative;
    zoom: 150%;
    
}
// .login-container2 {
//     line-height: 5px;
// }

// .text1 {
//     font-size: 30%;
//     text-decoration: underline;
    
// }

// .title {
//   position: relative;
//   top: 5px;
// }

img {
    
    zoom: 250%;
    transform: rotate(0deg) scale(0.50);
    
    display: block;
    margin: auto;
    
    position: fixed;
    top: 10px;
}

.img2 {
    transform: rotate(180deg) scale(0.50);
    position: fixed;
    
  
}


// input {
//   font-size: 40%;
//   outline: 0;
//   border-width: 0 0 0.5px;
//   border-color: rgb(187, 187, 187);
//   margin: 15px auto auto;
// }
// input:focus {
//   border-color: #07a5a0;
// }
// .button1{
//   font-size: 6px;
//   height: 10px;
// }
// .logout {
//  font-size: 5px;
//  position: absolute;
//  top: 0px !important;
  
// }
// .error {
//   color: red;
//   position: relative;
//   margin: 0px;
//   top: 12px;
  
// }
// .close {
    
//     top: 10px;
//     right: 10px;
//     zoom: 0.5;
// }
}





    // general styling 
::placeholder {
  color: rgb(187, 187, 187);
}



a:link {
  color: #004450;
}
a:visited {
  color: #004450;
}
a:hover {
  color: #00ebd7;
}
a:active {
  color: #00242b;
}

.button1{
    --padding-top: 5px !important;
    --padding-bottom: 5px !important;
    width: 70%;
    margin: 5px auto auto !important;
 
}

.logout {
  text-decoration: underline;
  position: relative;
  top: 10px;
}

.close {
    color: grey;
    position: absolute;
    top: 3px;
    left: 3px;
    zoom: 1.5;
}

.close:hover {
    color: rgb(58, 58, 58);
}
